* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Neue Machina";
  src: url(assets/fonts/neue-machine-regular.otf);
}

body {
  background-color: #000;
  color: whitesmoke;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.main::before {
  content: "";
  background-image: url("../images/background-gradient-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 140vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main::after {
  content: "";
  background-image: url("../images/background-gradient-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 140vw;
  height: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: rotate(180deg);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

footer img {
  max-width: 100px;
}

@media (min-width: 768px) {
  .main::before {
    width: 120vw;
    height: 60vw;
  }
  .main::after {
    width: 120vw;
    height: 60vw;
  }
}
