.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/icons/star-icon.svg");
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.title {
  text-align: center;
  font-family: "Neue Machina";
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.information p {
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}

.information p::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}

.information .job::before {
  background-image: url("../images/icons/job.svg");
}

.information .location::before {
  background-image: url("../images/icons/location.svg");
}

.information .phone::before {
  background-image: url("../images/icons/phone.svg");
}

.information .email::before {
  background-image: url("../images/icons/email.svg");
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-areas:
      "photo title"
      "photo information";
  }

  .header .photo {
    grid-area: photo;
    margin: 0 auto;
  }

  .header .title {
    grid-area: title;
    text-align: start;
    max-width: 230px;
  }

  .header .information {
    grid-area: information;
  }

  .main {
    max-width: 1024px;
    margin: 1rem auto;
  }
}
