.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}

.portfolio .title-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.portfolio .title-portfolio::before {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1rem;
  background-image: url('/assets/icons/github-icon.svg');
}

.portfolio li a{
  font-size: 1.2rem;
}